@model Plan
@{
    ViewData["Title"] = "Poprany plan";
}

<h2>Wczytano następujące grupy zajęć</h2>
@foreach (var classGroup in Model.ClassGroups)
{
    <h3>@classGroup.Name @classGroup.Type</h3>
    foreach (var universityClass in classGroup)
    {
        <p>@universityClass.Name @universityClass.Type @universityClass.GroupNumber @universityClass.DayOfWeek @universityClass.StartTime</p>
    }
}
@section scripts {
    <script>

            var model = JSON.parse('@Json.Serialize(Model)');
            alert(model.classes);

            var ViewModel = function(first, last) {
            this.firstName = ko.observable(first);
            this.lastName = ko.observable(last);

            this.fullName = ko.pureComputed(function() {
                // Knockout tracks dependencies automatically. It knows that fullName depends on firstName and lastName, because these get called when evaluating fullName.
                return this.firstName() + " " + this.lastName();
            }, this);
            };

    </script>
}
